.custom-swiper {
    position: relative;
    padding-bottom: 0px;
    /* width: 100%; */
    height: 350px;
}
.custom-swiper .swiper-button-next,
.custom-swiper .swiper-button-prev {
   
    color: black; /* Change arrow color */
    padding: 10px;
    transition: all 0.3s ease-in-out;
    /* background-color: blue; */
    position: absolute;
    top: auto;
    bottom: 0px;
}
.custom-swiper .swiper-button-next {
    right: 47%; 
}
.custom-swiper .swiper-button-prev {
    left: 47%; 
}

.custom-swiper .swiper-button-next:hover,
.custom-swiper .swiper-button-prev:hover {
    background-color: rgba(255, 255, 255, 0.8); /* Change on hover */
    color: blue;
}

.custom-swiper .swiper-button-next::after,
.custom-swiper .swiper-button-prev::after {
    font-size: 20px; /* Adjust arrow size */
    font-weight: bold;
}
/* For screens 640px and above */
@media (max-width: 640px) {
    .custom-swiper .swiper-button-next {
        right: 40%; /* Adjust as needed */
    }
    .custom-swiper .swiper-button-prev {
        left: 40%;
    }
}
/* For screens 768px and above */
@media (min-width: 768px) {
    .custom-swiper .swiper-button-next {
        right: 45%;
    }
    .custom-swiper .swiper-button-prev {
        left: 45%;
    }
}
