@import "tailwindcss";
@plugin "daisyui";

.swiper-pagination-bullet-active {
    background-color: green !important;
    width: 30px !important;
    height: 4px !important;
    border-radius: 4px !important;
}
.swiper-pagination {
    position: relative !important;
    margin-top: 20px !important;
}
.pagination-custom .swiper-pagination{
    /* background-color: red; */
    position: absolute !important;
    bottom : 0px !important;
    left : 580px !important;

}
